{% extends "base.html" %}

{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ project_details.name }}</h1>
            <p>{{ projects_list.description }}</p>
            <h2>Tasks</h2>
            {% if task not in project_details.tasks.all %}<p>This project has no tasks</p>{% endif %}
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Assignee</th>
                        <th>Start date</th>
                        <th>Due date</th>
                        <th>Is completed</th>
                    </tr>
                </thead>
                <tbody>
                    {% for task in project_details.tasks.all %}
                        <tr>
                            <td>{{ task.name }}</td>
                            <td>{{ user.username }}</td>
                            <td>{{ task.start_date }}</td>
                            <td>{{ task.due_date }}</td>
                            <td>{{ task.is_completed|yesno }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
